main a {
    font-size: 30px;
    font-family: Open sans;
    font-weight:700;
    text-decoration: none;
    color:black;
}
main div img {
    width:800px;
    height:500px;
    border-radius: 15px;
}
main div {
    display:block;
    margin: 0 auto;
    width:60%;
    height:100%;
    font-size: 100%;
    font-family: Open Sans;
    border:2px;
}
main hr {
    margin: 5% auto;
    background:black;   
    height: 2px;
    width: 35%;
}
main h1 {
    text-align: left;
    font-family: Open sans;
    font-size: 300%;

}
main p {
    font-size: 120% !important;
    margin-top:-10px;
}
